{* **** LAYOUT ************************************************************** *}

{layout '../@layoutAdmin.latte'}

{* **** HEAD **************************************************************** *}

{block title}Testování{/block}

{block head}{/block}

{* **** CONTENT ************************************************************* *}

{block content}
<!-- Section - Test -->
<section class="block">
    <div class="container-fluid">
	<div class="row">
	    <div class="col-xs-12">
		<a class="btn btn-danger" n:href="deleteMeasurements!">Smaže všechna měření uživatele</a>
		<br>
		<a class="btn btn-success" n:href="insertMeasurements!">Vložit 10 měření do databáze</a>
	    </div>
	</div>
    </div>
</section>
{/block}

{block scripts}{/block}