{* **** LAYOUT ************************************************************** *}

{layout '../@layoutFront.latte'}

{* **** HEAD **************************************************************** *}

{block title}Mapa{/block}

{block head}
<link type="text/css" rel="stylesheet" media="screen" href="{$basePath}/css/leaflet.css" />
<link type="text/css" rel="stylesheet" media="screen" href="{$basePath}/css/font-awesome.css">
<link type="text/css" rel="stylesheet" media="screen" href="{$basePath}/css/leaflet.search.min.css" />
<link type="text/css" rel="stylesheet" media="screen" href="{$basePath}/css/leaflet.locate.min.css" />
<link type="text/css" rel="stylesheet" media="screen" href="{$basePath}/css/leaflet.markercluster.css" />
<!--[if lt IE 9]>
    <link type="text/css" rel="stylesheet" media="screen" href="{$basePath}/css/leaflet.locate.ie.min.css" />
<![endif]-->
{/block}

{* **** CONTENT ************************************************************* *}

{block content}
<!-- Section - Map -->
<section>
    <div class="container-fluid">
	<div class="row">
	    <div class="col-xs-12 col-md-3 col-md-push-9 col-lg-2 col-lg-push-10 topbar">
		<button id="dropdownMapMenu" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar" aria-expanded="false" aria-controls="navbar">
		    <span class="sr-only">Toggle navigation</span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		</button>
		<div id="sidebar" class="navbar-collapse collapse sidebar">
		    <div class="topbar-toggle">
			{include sidebar|indent:3|trim}
		    </div>
		</div>
	    </div>
	    <div class="col-xs-12 col-md-9 col-md-pull-3 col-lg-10 col-lg-pull-2 map">
		<noscript class="noscript bg-danger">Nemáte povolený javascript ve svém prohlížeči. Pro zobrazení mapy je ale nutné ho povolit.</noscript>
		<div id="map"></div>
	    </div>
	</div>
    </div>
</section>
{/block}

{block scripts}
<script src="{$basePath}/js/leaflet.min.js"></script>
<script src="{$basePath}/js/leaflet.search.min.js"></script>
<script src="{$basePath}/js/leaflet.locate.min.js"></script>
<script src="{$basePath}/js/leaflet.heat.min.js"></script>
<script src="{$basePath}/js/leaflet.markercluster.min.js"></script>
<script src="{$basePath}/js/mbtest.map.js"></script>
{/block}

{* **** BLOCKS ************************************************************** *}

{block sidebar} 
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
	<div class="panel-heading active" role="tab" id="headingOne">
	    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		<h4 class="panel-title">Všechny oblasti&nbsp;<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> </h4>
	    </a>
	</div>
	<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
	    <div class="panel-body">
		{include '../components/forms/mapForm.latte'|indent:2|trim}
		<div id="measurement-info-one" class="alert alert-success hidden" role="alert">
		    Zobrazeno:&nbsp;<strong></strong>&nbsp;měření
		</div>
	    </div>
	</div>
    </div>
    <div class="panel panel-default">
	<div class="panel-heading" role="tab" id="headingTwo">
	    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		<h4 class="panel-title">Dálnice a železnice&nbsp;<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></h4>
	    </a>
	</div>
	<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
	    <div class="panel-body">
		{include '../components/forms/relationsForm.latte'|indent:2|trim}
		<div id="measurement-info-two" class="alert alert-success hidden" role="alert">
		    Zobrazeno:&nbsp;<strong></strong>&nbsp;měření
		</div>
	    </div>
	</div>
    </div>
    <div class="panel panel-default">
	<div class="panel-heading" role="tab" id="headingThree">
	    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		<h4 class="panel-title">Moje měření&nbsp;<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></h4>
	    </a>
	</div>
	<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
	    <div class="panel-body">
		{include '../components/forms/myDataForm.latte'|indent:2|trim}
		<div id="measurement-info-three" class="alert alert-success hidden" role="alert">
		    Zobrazeno:&nbsp;<strong></strong>&nbsp;měření
		</div>
	    </div>
	</div>
    </div>
</div>
{/block}