{* **** LAYOUT ************************************************************** *}

{layout '../@layoutFront.latte'}

{* **** HEAD **************************************************************** *}

{block title}Statistiky{/block}

{block head}{/block}

{* **** CONTENT ************************************************************* *}

{block content}
<!-- Section - Statistics -->
<section class="block">
    <div class="container-fluid">
	<div class="row">
	    <div class="col-xs-12">
		@todo Lukáš Sokol
	    </div>
	</div>
    </div>
</section>
{/block}

{block scripts}{/block}