{form contactForm}
    <div class="form-errors" n:if="$form->hasErrors()" >
	{include '../../../../templates/components/other/formErrors.latte', form => $form|indent|trim}
    </div>
    <div class="form-horizontal form-contact" role="form">
	<div class="col-xs-6">
	    <div class="form-group">
		{input name class => 'form-control'}
	    </div>
	    <div class="form-group">
		{input email class => 'form-control'}
	    </div>
	    <div class="form-group">
		{input subject class => 'form-control'}
	    </div>
	</div>
	<div class="col-xs-6">
	    <div class="form-group">
		{input text class => 'form-control'}
	    </div>
	    <div class="form-group text-right">
		{input send class => 'btn'}
	    </div>
	</div>
    </div> 
{/form}