{form mapForm}
    <div class="form-horizontal" role="form">
        <div class="form-group">
	    <div class="col-xs-12">	    
		{input measurement class => 'form-control'}
	    </div>
        </div>
	<div class="form-group">
	    <div class="col-xs-12">	    
		{input percentile class => 'form-control'}
	    </div>
	</div>
	<div class="form-group">
	    <div class="col-xs-12">	    
		{input period class => 'form-control'}
	    </div>
        </div>
	<div class="form-group">
	    <div class="col-xs-12">	    
		{input technology class => 'form-control'}
	    </div>
        </div>
	<div class="form-group">
	    <div class="col-xs-12">	    
		{input operator class => 'form-control'}
	    </div>
        </div>
	<div class="form-group">
	    <div class="col-xs-12">	    
		{input platform class => 'form-control'}
	    </div>
        </div>
	<div class="form-group">
	    <div class="col-xs-12">	    
		{input model class => 'form-control'}
	    </div>
        </div>
    </div> 
{/form}