{form otpSignInForm}
    <div class="form-errors" n:if="$form->hasErrors()" >
	{include '../../../../templates/components/other/formErrors.latte', form => $form|indent|trim}
    </div>
    <div class="form-signin">
	<h2 class="form-signin-heading">Přihlášení<br><small>jednorázovým přístupovým kódem</small></h2>
	<div n:class="$form->hasErrors() ? has-error, form-group">
	    {input otp class => 'form-control'}
	</div>
	<div class="form-group">
	    {input signin class => 'btn btn-lg btn-success btn-block'}
	</div>
    </div>
{/form}