{form relationsForm}
    <div class="form-horizontal" role="form">
        <div class="form-group">
	    <div class="col-xs-12">	    
		{input measurement class => 'form-control'}
	    </div>
        </div>
	<div class="form-group">
	    <div class="col-xs-12">	    
		{input relation class => 'form-control'}
	    </div>
	</div>
    </div> 
{/form}