{form resetPasswordForm}
    <div class="form-errors" n:if="$form->hasErrors()" >
	{include '../../../../templates/components/other/formErrors.latte', form => $form|indent|trim}
    </div>
    <div class="form-main">
	<h2 class="form-signin-heading">Nastavení nového hesla</h2>
	<div n:class="$form->hasErrors() ? has-error, form-group">
	    {label newPassword class => 'control-label'}{/label}
	    {input newPassword class => 'form-control'}
	</div>
	<div n:class="$form->hasErrors() ? has-error, form-group">
	    {label passwordConfirmation class => 'control-label'}{/label}
	    {input passwordConfirmation class => 'form-control'}
	</div>
	<div class="form-group">
	    {input save class => 'btn btn-lg btn-success btn-block'}
	</div>
    </div>
{/form}