{form signInForm}
    <div class="form-errors" n:if="$form->hasErrors()" >
	{include '../../../../templates/components/other/formErrors.latte', form => $form|indent|trim}
    </div>
    <div class="form-info" n:ifset="$email">
	<div class="alert alert-info" role="alert">
	    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
	    <span class="sr-only">Info:</span>
	    <a n:href="resendAuthenticationMail! $email"><strong>Nepřišel mi email. Odeslat znovu.</strong></a>
	</div>
    </div>
    <div class="form-signin">
	<h2 class="form-signin-heading">Přihlášení<br><small>uživatelským jménem a heslem</small></h2>
	<div n:class="$form->hasErrors() ? has-error, form-group">
	    {input username class => 'form-control'}
	</div>
	<div n:class="$form->hasErrors() ? has-error, form-group">
	    {input password class => 'form-control'}
	</div>
	<div class="form-group">
	    <div class="checkbox">
		{input remember class => 'checkbox'}
	    </div>
	</div>
	<div class="form-group">
	    {input signin class => 'btn btn-lg btn-success btn-block'}
	</div>
    </div>
{/form}