<nav id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
	<li n:class="$presenter->isLinkCurrent(':Front:Dashboard:*') ? active"><a n:href=":Front:Dashboard:">Dashboard</a></li>
	<li n:class="$presenter->isLinkCurrent(':Front:MyData:*') ? active"><a n:href=":Front:MyData:">Moje měření</a></li>
	<li n:class="$presenter->isLinkCurrent(':Front:Statistics:*') ? active"><a n:href=":Front:Statistics:">Statistiky</a></li>
	<li n:class="$presenter->isLinkCurrent(':Front:Map:*') ? active"><a n:href=":Front:Map:">Mapa</a></li>
	<li n:class="$presenter->isLinkCurrent(':Front:Help:ranks') ? active"><a n:href=":Front:Help:ranks">Hodnosti</a></li>
	<li n:class="$presenter->isLinkCurrent(':Front:Help:default') ? active"><a n:href=":Front:Help:default">Nápověda</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right navbar-sign">
	<li class="dropdown">
	    <a href="#" class="dropdown-toggle btn-dropdown" data-toggle="dropdown" id="dropdown">
		<span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;{$user->getIdentity()->username}&nbsp;<b class="caret"></b>
	    </a>
	    <ul class="dropdown-menu">
		<li><a n:href=":Front:User:profile">Můj profil</a></li>
		<li><a n:href=":Front:User:changePassword">Změna hesla</a></li>
		<li n:if="App\Model\Authorizator::isAdmin($user)" role="separator" class="divider"></li>
		<li n:if="App\Model\Authorizator::isAdmin($user)"><a n:href=":Admin:Default:">Administrace</a></li>
	    </ul>
	</li>
	<li>
	    <a n:href=":Front:Sign:out" class="btn">
		<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Odhlásit se
	    </a>
	</li>
    </ul>
</nav>