<nav id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
	{if $presenter->isLinkCurrent(':Front:Default:default')} 
	<li><a href="#about-us" class="scroller" data-section="#about-us">O projektu</a></li>
	<li><a href="#features" class="scroller" data-section="#features">Co nabízíme</a></li>
	<li><a href="#mobile-apps" class="scroller" data-section="#mobile-apps">Mobilní aplikace</a></li>
	<li><a href="#contact" class="scroller" data-section="#contact">Napiště nám</a></li>
	{else}
	<li><a n:href=":Front:Default:default#about-us">O projektu</a></li>
	<li><a n:href=":Front:Default:default#features">Co nabízíme</a></li>
	<li><a n:href=":Front:Default:default#mobile-apps">Mobilní aplikace</a></li>
	<li><a n:href=":Front:Default:default#contact">Napiště nám</a></li>
	{/if}
	<li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdown">Více&nbsp;<b class="caret"></b></a>
	    <ul class="dropdown-menu">
		<li><a n:href=":Front:Default:faq">Časté dotazy</a></li>
		<li><a n:href=":Front:Default:contact">Kontakt</a></li>
	    </ul>
	</li>
    </ul>
    <ul class="nav navbar-nav navbar-right navbar-sign">
	<li><a n:href=":Front:Sign:up" class="btn">Registrovat se</a></li>
	<li><a n:href=":Front:Sign:in" class="btn">Přihlásit se</a></li>
    </ul>
</nav>