{* **** LAYOUT ************************************************************** *}

{layout '../@layoutAdmin.latte'}

{* **** HEAD **************************************************************** *}

{block title}OSM data{/block}

{block head}{/block}

{* **** CONTENT ************************************************************* *}

{block content}
<!-- Section - OSM -->
<section class="block">
    <div class="container-fluid">
	<div class="row">
	    <div class="col-xs-offset-4 col-xs-8 col-md-offset-3 col-md-9">
		 <h2>Import OSM dat</h2>
	    </div>
	</div>
	<div class="row">
	    <div class="col-xs-12">
		{include '../components/forms/osmImportForm.latte'|indent:2|trim}
	    </div>
	</div>
    </div>
</section>
{/block}

{block scripts}{/block}
