{* **** LAYOUT ************************************************************** *}

{layout '../@layoutAdmin.latte'}

{* **** HEAD **************************************************************** *}

{block title}Export dat{/block}

{block head}{/block}

{* **** CONTENT ************************************************************* *}

{block content}
<!-- Section - Export -->
<section class="block">
    <div class="container-fluid">
	<div class="container-box act"  data-action="export">
	    <h2>Obecný export dat</h2>
	    <div class="form" id="export-form">
		<form class="form-inline">
		    <h3 class="set-export">Nastavit parametry exportu <i class="fa fa-caret-down"></i></h3>
		    <div class="box" id="export-settings" style="margin-top: 0; padding-top: 0; display: none;">
			<p class="text-muted info"><i class="fa fa-info"></i>vyberte parametry, které budou zahrnuty do exportu</p>
			<div class="box bot">
			    <h3>Uživatel</h3>
			    <div class="row">
				<div class="checkbox col-sm-4">
				    <label class="param">
					<input type="checkbox" id="param-username" checked> username uživatele
				    </label>
				</div>
				{*<div class="checkbox col-sm-4">
				    <label>
					<input type="checkbox" id="param-email"> email uživatele
				    </label>
				</div>*}
			    </div>
			</div>
			<div class="box bot">
			    <h3>Měřící zařízení</h3>
			    <div class="row">
				<div class="checkbox col-sm-4">
				    <label class="param">
					<input type="checkbox" id="param-device" checked> název zařízení
				    </label>
				</div>
				<div class="checkbox col-sm-4">
				    <label class="param">
					<input type="checkbox" id="param-battery" checked> baterie zařízení
				    </label>
				</div>
				<div class="checkbox col-sm-4">
				    <label class="param">
					<input type="checkbox" id="param-signal" checked> síla signálu
				    </label>
				</div>
			    </div>
			    <div class="row">
				<div class="checkbox col-sm-4">
				    <label class="param">
					<input type="checkbox" id="param-conntype" checked> druh připojení
				    </label>
				</div>
			    </div>
			    <div class="row">
				<div class="checkbox col-sm-4">
				    <label class="param">
					<input type="checkbox" id="param-ip" checked> ip adresa
				    </label>
				</div>
			    </div>
			</div>
			<div class="box bot">
			    <h3>Poloha měření</h3>
			    <div class="row">
				<div class="checkbox col-sm-4">
				    <label class="param">
					<input type="checkbox" id="param-location_src1" checked> zdroj dat o poloze (sít, GPS, ...)
				    </label>
				</div>
				<div class="checkbox col-sm-4">
				    <label class="param">
					<input type="checkbox" id="param-location_accuracy1" checked> přesnost polohy
				    </label>
				</div>
				<div class="checkbox col-sm-4">
				    <label class="param">
					<input type="checkbox" id="param-latlong" checked> poloha (latitude, longitude)
				    </label>
				</div>
			    </div>
			</div>
			<div class="box bot">
			    <h3>Parametry měření</h3>
			    <div class="row">
				<div class="checkbox col-sm-4">
				    <label class="param">
					<input type="checkbox" id="param-download_size" checked> velikost downloadu
				    </label>
				</div>
				<div class="checkbox col-sm-4">
				    <label class="param">
					<input type="checkbox" id="param-upload_size" checked> velikost uploadu
				    </label>
				</div>
				<div class="checkbox col-sm-4">
				    <label class="param">
					<input type="checkbox" id="param-download" checked> rychlost downloadu
				    </label>
				</div>
			    </div>
			    <div class="row">
				<div class="checkbox col-sm-4">
				    <label class="param">
					<input type="checkbox" id="param-upload" checked> rychlost uploadu
				    </label>
				</div>
				<div class="checkbox col-sm-4">
				    <label class="param">
					<input type="checkbox" id="param-ping" checked> ping (min, max, avg)
				    </label>
				</div>
				<div class="checkbox col-sm-4">
				    <label class="param">
					<input type="checkbox" id="param-jitter" checked> jitter
				    </label>
				</div>
			    </div>
			    <div class="row">
				<div class="checkbox col-sm-4">
				    <label class="param">
					<input type="checkbox" id="param-packet_loss" checked> počet ztracených paketů
				    </label>
				</div>
				<div class="checkbox col-sm-4">
				    <label class="param">
					<input type="checkbox" id="param-rtt" checked> rtt (min, max, avg)
				    </label>
				</div>
			    </div>
			</div>
			<div class="box bot">
			    <h3>Obecné</h3>
			    <div class="row">
				<div class="checkbox col-sm-4">
				    <label class="param">
					<input type="checkbox" id="param-date_time" checked> čas měření
				    </label>
				</div>
				<div class="checkbox col-sm-4">
				    <label class="param">
					<input type="checkbox" id="param-done" checked> stav (dokončeno, nedokončeno)
				    </label>
				</div>
				<div class="checkbox col-sm-4">
				    <label class="param">
					<input type="checkbox" id="param-forced" checked> iniciace měření (plánované, měřené uživatelem, ...)
				    </label>
				</div>
			    </div>
			</div>

		    </div>
		    <div class="row">
			<div class="col-sm-12">
			    <h4>Exportovat</h4>
			    <div class="checkbox" style="display: block;">
				<label>
				    <input type="checkbox" id="param-opendata"> Do exportu zahrnout i opendata ze serveru netmetr.cz
				</label>
			    </div>
			    <div class="buttons">
				<a class="btn btn-admin" href="#" onclick="mbtest.functions.export('xml');">.xml</a>
				<a class="btn btn-admin" href="#" onclick="mbtest.functions.export('csv');">.csv</a>
				<a class="btn btn-admin" href="#" onclick="mbtest.functions.export('zip');">vše (.zip)</a>
			    </div>
			</div>
		    </div>
		</form>
	    </div>
	    <h2>Export dat pro systém simulující připojení</h2>
	    <a href="#" onclick="mbtest.functions.export('device');" class="btn btn-admin">exportovat</a>
	    <iframe id="download_iframe" style="display: none;">
	</div>
    </div>
</div>
</section>
{/block}

{block scripts}{/block}