{* **** LAYOUT ************************************************************** *}

{layout '../@layoutFront.latte'}

{* **** HEAD **************************************************************** *}

{block title}O projektu{/block}

{block head}{/block}

{* **** CONTENT ************************************************************* *}

{block content}
<!-- Section - About us -->
<section class="block">
    <div class="container">
	<header>
	    <h2>O projektu</h2>
	    <span class="line"></span>
	</header>
	<div class="row">
	    <div class="col-xs-12 col-sm-7 col-md-6">
		<h3>2012</h3>
		<p class="text-justify">
		    Původní projekt vznikl již v&nbsp;roce 2012 jako diplomová práce
		    na téma Měření kvality GSM sítí. Jejím autorem byl Bc. Vladimír Cibulka,
		    který se snažil zmapovat základní kvalitativní parametry datových přenosů
		    v&nbsp;širokopásmových sítích a&nbsp;poskytnout je veřejnosti. Výsledkem této 
		    práce byl měřící server, mobilní klient pro operační systém Android 
		    a&nbsp;webové rozhraní určené k&nbsp;prezentaci a&nbsp;analýze naměřených dat.
		</p>
	    </div>
	    <div class="hidden-xs col-sm-5 pull-right">
		<img class="img-responsive" src="{$basePath}/images/mbtest_logo_full.png" alt="logo">
	    </div>
	</div>
	<div class="row">
	    <div class="col-xs-12 col-sm-7 col-md-6">
		<h3>2013</h3>
		<p class="text-justify">
		    V&nbsp;roce 2013 na tento původní projekt navázali další čtyři studenti ČVUT a sice David Watzke,
		    Michal Švácha, Filip Mudruněk a Radek Pilař. Ti celý projekt přepracovali a&nbsp;nazvali
		    MBTest. Původní projekt byl tedy rozdělen na čtyři části. Těmi byly hlavní server
		    zahrnující i&nbsp;dva měřící servery (TCP měřící server a UDP měřící server),
		    dále webové rozhraní a&nbsp;nakonec i&nbsp;dvě mobilní aplikace z&nbsp;nichž jedna 
		    byla určena pro operační systém Android a&nbsp;druhá pro iOS.
		</p>
	    </div>
	    <div class="hidden-xs col-sm-5 pull-right">
		<img class="img-responsive" src="{$basePath}/images/logo_full_grey.png" alt="logo_sedy_text">
	    </div>
	</div>
	<div class="row">
	    <div class="col-xs-12 col-sm-7 col-md-6">
		<h3>2016</h3>
		<p class="text-justify">
		    Aktuálně projekt prošel třetí fází, jejímž cílem bylo přepracovat webové rozhraní.
		    Toto rámcové téma bylo rozděleno na dvě konkrétní zadání. První z&nbsp;těchto zadání 
		    s&nbsp;názvem Měření kvality mobilních datový sítí - Webový portál, jehož cílem
		    bylo vytvořit celý portál MBTest a&nbsp;zejména pak implementovat proces zobrazování 
		    měření na mapových podkladech, vypracoval Bc.&nbsp;Lukáš Kočí. Druhé zadání nesoucí název
		    Měření kvality mobilních datových sítí - Vizualizace připravoval a&nbsp;implementoval 
		    Bc.&nbsp;Lukáš Sokol. Tématem této práce byla vhodná vizualizace dat 
		    v&nbsp;podobě statistik a&nbsp;grafů.
		</p>
	    </div>
	    <div class="hidden-xs col-sm-5 pull-right">
		<img class="img-responsive" src="{$basePath}/images/logo_full_black.png" alt="logo_cerny_text">
	    </div>
	</div>
    </div>
</section>
{/block}

{block scripts}{/block}