{* **** LAYOUT ************************************************************** *}

{layout '../@layoutFront.latte'}

{* **** HEAD **************************************************************** *}

{block title}Napište nám{/block}

{block head}{/block}

{* **** CONTENT ************************************************************* *}

{block content}
<!-- Section - Contact -->
<section class="block">
    <div class="container">
	<header>
	    <h2>Kontakty</h2>
	    <span class="line"></span>
	</header>
	<div class="row">
	    <div class="col-xs-12">
		<p>Tento portál vzniknul jako diplomová práce na téma Měření kvality mobilních datových sítí. 
		    Jeho autory jsou dva studenti ČVUT FIT.<p>
		<ul>
		    <li>Bc. Lukáš Kočí</li>
		    <li>kociluk1@fit.cvut.cz</li>
		</ul>
		<ul>
		    <li>Bc. Lukáš Sokol</li>
		    <li>sokolluk@fit.cvut.cz </li>
		</ul>
	    </div>
	</div>
    </div>
</section>
{/block}

{block scripts}{/block}