{* **** LAYOUT ************************************************************** *}

{layout '../@layoutFront.latte'}

{* **** HEAD **************************************************************** *}

{block title}Homepage{/block}

{block head}{/block}

{* **** CONTENT ************************************************************* *}

{block content}
<!-- Section - Getting started -->
<section class="block" id="getting-started">
    <div class="container text-center">
	<div class="row">
	    <div class="col-xs-12 col-sm-4">
		<div class="row">
		    <div class="col-xs-12">
			<header>
			    <h4>1. Stáhněte si mobilní aplikaci MBTest</h4>
			</header>
		    </div>
		</div>
		<div class="row">
		    <div class="col-xs-12">
			<img class="img-small" src="{$basePath}/images/tablet_mobile.png" alt="Aplikace MBTest na mobilních zařízeních" width="140" height="140">
			<h2>Mobilní aplikace</h2>
			<p>Nejprve si stáhněte a&nbsp;nainstalujte mobilní aplikaci MBTest. Poté si vytvořte svůj vlastní uživatelský účet, pod kterým budete provádět měření. Mobilní aplikace je dostupná pro operační systém Android.</p>
			<a class="btn btn-green scroller" href="#mobile-apps" data-section="#mobile-apps" role="button">Dozvědět se více &raquo;</a>
		    </div>
		</div>
	    </div>
	    <div class="col-xs-12 col-sm-4">
		<div class="row">
		    <div class="col-xs-12">
			<header>
			    <h4>2. Začněte provádět pravidelná měření</h4>
			</header>
		    </div>
		</div>
		<div class="row">
		    <div class="col-xs-12">
			<img class="img-small" src="{$basePath}/images/tablet_mobile_measurement.png" alt="Měření v aplikaci MBTest" width="140" height="140">
			<h2>Měření</h2>
			<p>Poté se již můžete pustit do měření. Za každé provedené měření dostanete určitý počet mBodů do žebříčku uživatelů. Tyto mBody jsou potřeba pro zpřístupnění některých funkcí, které nabízí tento portál.</p>
			<a class="btn btn-green" n:href=":Front:Default:measurement" role="button">Dozvědět se více &raquo;</a>
		    </div>
		</div>
	    </div>
	    <div class="col-xs-12 col-sm-4">
		<div class="row">
		    <div class="col-xs-12">
			<header>
			    <h4>3. Porovnávejte statistiky a&nbsp;prohlížejte mapu</h4>
			</header>
		    </div>
		</div>
		<div class="row">
		    <div class="col-xs-12">
			<img class="img-small" src="{$basePath}/images/desktop_tablet_mobile.png" alt="Statistiky a mapa na portálu MBTest" width="140" height="140">
			<h2>Statistiky a&nbsp;mapa</h2>
			<p>Nakonec se přihlašte do portálu MBTest a&nbsp;využijte veškeré možnosti které Vám nabízí. Prozkoumávejte statistiky, studujte grafy, porovnávejte Vaše naměřená data s&nbsp;ostatními uživateli nebo jen brouzdejte po mapě.</p>
			<a class="btn btn-green scroller" href="#features" data-section="#features" role="button">Dozvědět se více &raquo;</a>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</section>

<!-- Section - About us -->
<section class="block white-block" id="about-us">
    <div class="container">
	<header>
	    <h2>O projektu</h2>
	    <span class="line"></span>
	</header>
	<div class="row">
	    <div class="col-xs-12 col-sm-7 col-md-6">
		<h3>Portál MBTest</h3>
		<p class="text-justify">Portál MBTest slouží jako vstupní brána pro všechny, kteří se chtějí zapojit do projektu MBTest,
		    jenž si klade za cíl zmapovat jaká je skutečná kvalita mobilních datových sítí, respektive mobilního připojení, 
		    nejen na území ČR, ale i&nbsp;mimo něj...</p>
		<a n:href=":Front:Default:aboutUs" class="btn btn-green">Zobrazit podrobnosti</a>
	    </div>
	    <div class="col-xs-12 col-sm-5 pull-right">
		<img class="img-responsive" src="{$basePath}/images/logo_full_grey.png" alt="logo">
	    </div>
	</div>
    </div>
</section>

<!-- Section - Features -->
<section class="block" id="features">
    <div class="container">
	<header>
	    <h2>Co nabízíme</h2>
	    <span class="line"></span>
	</header>
	<div class="row">
	    <div class="col-xs-12 col-sm-7 col-md-6">
		<h3>Data</h3>
		<p class="text-justify">Výsledkem každého provedeného měření je velké množství získaných dat. Ta jsou shromažďována, 
		    aby mohla být následně vyhodnocena a&nbsp;použita při sestavování statistik či grafů nebo 
		    pro zobrazení na mapě. Mezi tyto údaje patří například poloha, rychlost stahování 
		    a&nbsp;odesílání ale také mnoho dalších informací...
		</p>
		<a n:href=":Front:Default:features#data" class="btn btn-green">Zobrazit podrobnosti</a>
	    </div>
	    <div class="col-xs-12 col-sm-5 pull-right">
		<img class="img-responsive" src="{$basePath}/images/features/data.png" alt="data">
	    </div>
	</div>
	<div class="row">
	    <div class="col-xs-12 col-sm-push-7 col-sm-7 col-md-push-6 col-md-6">
		<h3>Statistiky a&nbsp;Grafy</h3>
		<p class="text-justify">Součástí portálu je i&nbsp;zpracování dat do podoby přehledných statistik a&nbsp;grafů. 
		    K dispozici jsou například přehledy o&nbsp;rychlostech stahování a&nbsp;odesílání pro jednotlivé operátory, 
		    nebo podrobné informace o&nbsp;naměřených údajích pro konkrétní modely mobilních zařízení a&nbsp;samozřejmě 
		    spousta dalších informací...
		</p>
		<a n:href=":Front:Default:features#statistics" class="btn btn-green">Zobrazit podrobnosti</a>
	    </div>
	    <div class="col-xs-12 col-sm-pull-5 col-sm-5 col-md-pull-6 pull-left">
		<img class="img-responsive" src="{$basePath}/images/features/charts.png" alt="charts">
	    </div>
	</div>
	<div class="row">
	    <div class="col-xs-12 col-sm-7 col-md-6">
		<h3>Mapa</h3>
		<p class="text-justify">Mapa přináší spoustu užitečných funkcí. Od prostého zobrazení výsledků měření, 
		    přes možnost přepínání mezi jednotlivými mapovými podklady až po zobrazení heatmapy.
		    O&nbsp;každém provedeném měření jsou k&nbsp;dispozici podrobné informace.
		    Mapa také umožňuje přepínat mezi třemi možnostmi zobrazení dat...
		</p>
		<a n:href=":Front:Default:features#map" class="btn btn-green">Zobrazit podrobnosti</a>
	    </div>
	    <div class="col-xs-12 col-sm-5 pull-right">
		<img class="img-responsive" src="{$basePath}/images/features/map.png" alt="map">
	    </div>
	</div>
    </div>
</section>

<!-- Section - Mobile Apps -->
<section class="block white-block" id="mobile-apps">
    <div class="container">
	<header>
	    <h2>Mobilní aplikace</h2>
	    <span class="line"></span>
	</header>
	<div class="row">
	    <div class="col-xs-12 col-sm-7 col-md-6">
		<div class="row">
		    <div class="col-xs-12">
			<h3>Aplikace MBTest pro Android</h3>
			<p>Aplikaci pro operační systém Android je možné stáhnout na Google Play. Je k&nbsp;dispozici pro systém Android x.x a&nbsp;vyšší.</p>
			<a class="btn btn-green" href="#" data-toggle="modal" data-target="#mobileAppModal" role="button">Stáhnou aplikaci MBTest&nbsp;<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
			<a n:href=":Front:Default:mobileApps" class="btn btn-green">Zobrazit podrobnosti</a>
		    </div>
		    <div class="col-xs-6">
			<a href="#" data-toggle="modal" data-target="#mobileAppModal">
			    <img class="img-responsive" src="{$basePath}/images/android-app-on-google-play.png" alt="MBTest na Google Play">
			</a>
			<div class="modal fade" id="mobileAppModal" tabindex="-1" role="dialog">
			    <div class="modal-dialog">
				<div class="modal-content">
				    <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Upozornění</h4>
				    </div>
				    <div class="modal-body bg-warning">
					<p class="text-warning text-center"><strong>Omlouváme se, ale mobilní aplikace MBTest prozatím není dostupná.</strong></p>
				    </div>
				    <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
				    </div>
				</div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="col-xs-12 col-sm-5 pull-right">
		<img class="img-responsive" src="{$basePath}/images/features/android_app_01.png" alt="android_app_01">
	    </div>
	</div>
    </div>
</section>

<!-- Section - Contact -->
<section class="block green-block" id="contact">
    <div class="container">
	<header>
	    <h2>Napište nám</h2>
	    <span class="line"></span>
	</header>
	<div class="row">
	    <div class="col-xs-12">
		{include '../components/forms/contactForm.latte'|indent:2|trim}
	    </div>
	</div>
    </div>
</section>
{/block}

{block scripts}{/block}