{* **** LAYOUT ************************************************************** *}

{layout '../@layoutFront.latte'}

{* **** HEAD **************************************************************** *}

{block title}Časté dotazy{/block}

{block head}{/block}

{* **** CONTENT ************************************************************* *}

{block content}
<!-- Section - FAQ -->
<section class="block">
    <div class="container">
	<header>
	    <h2>FAQ - Často kladené dotazy</h2>
	    <span class="line"></span>
	</header>
	<div class="row">
	    <div class="col-xs-12">
		<p>připravujeme...</p>
	    </div>
	</div>
    </div>
</section>
{/block}

{block scripts}{/block}
