{* **** LAYOUT ************************************************************** *}

{layout '../@layoutFront.latte'}

{* **** HEAD **************************************************************** *}

{block title}Co nabízíme{/block}

{block head}{/block}

{* **** CONTENT ************************************************************* *}

{block content}
<!-- Section - Features -->
<section class="block">
    <div class="container">
	<div class="row">
	    <div class="col-xs-12 col-sm-7 col-md-6">
		<h3>Data</h3>
		<p class="text-justify">
		    Výsledkem každého provedeného měření je velké množství získaných dat. Ta jsou shromažďována, 
		    aby mohla být následně vyhodnocena a&nbsp;použita při sestavování statistik či grafů nebo 
		    pro zobrazení na mapě. Mezi tyto údaje patří například poloha, rychlost stahování 
		    a&nbsp;odesílání ale třeba také údaje o&nbsp;odezvě, síle signálu nebo stavu baterie.
		    Mimo údajů získaných z&nbsp;provedených měření jsou shromažďovány i&nbsp;další data, která 
		    přímo nesouvisí s&nbsp;měřením kvality datového spojení, ale jsou důležitá pro správné 
		    vyhodnocení naměřených údajů. Mezi tyto informace patří například typ mobilního zařízení,
		    respektive jeho model a&nbsp;značka, dále také operační systém nebo název operátor 
		    v&nbsp;jehož síti bylo měření provedeno.
		</p>
	    </div>
	    <div class="col-xs-12 col-sm-5 pull-right">
		<img class="img-responsive" src="{$basePath}/images/features/data.png" alt="data">
	    </div>
	</div>
	<div class="row">
	    <div class="col-xs-12 col-sm-7 col-md-6">
		<h3>Statistiky a&nbsp;Grafy</h3>
		<p class="text-justify">
		    Součástí portálu je i&nbsp;zpracování dat do podoby přehledných statistik a&nbsp;grafů. 
		    K dispozici jsou například přehledy o&nbsp;rychlostech stahování a&nbsp;odesílání pro 
		    jednotlivé operátory, nebo podrobné informace o&nbsp;naměřených údajích pro konkrétní 
		    modely mobilních zařízení. Všechny údaje jsou přehledně zaneseny do tabulek, které lze
		    libovolně řadit podle jednotlivých sloupců. Taktéž je k dispozici několik typů grafů.
		    Statistiky jsou rozděleny na tři skupiny, které jsou přístupné podle počtu získaných
		    mBodů. V&nbsp;první části jsou k&nbsp;dispizici pouze základní údaje. Druhá skupina již 
		    zahrnuje podrobnější informace a&nbsp;poslední třetí skupina obsahuje veškerá dostupná data.
		</p>
	    </div>
	    <div class="col-xs-12 col-sm-5 pull-right">
		<img class="img-responsive" src="{$basePath}/images/features/charts.png" alt="charts">
	    </div>
	</div>
	<div class="row">
	    <div class="col-xs-12 col-sm-7 col-md-6">
		<h3>Mapa</h3>
		<p class="text-justify">
		    Mapa přináší spoustu užitečných funkcí. Od prostého zobrazení výsledků měření, 
		    přes možnost přepínání mezi jednotlivými mapovými podklady až po zobrazení heatmapy.
		    O&nbsp;každém provedeném měření jsou k&nbsp;dispozici podrobné informace.
		    Mapa také umožňuje přepínat mezi třemi možnostmi zobrazení dat. Na výběr jsou měření 
		    ve všech oblastech, nebo pouze v&nbsp;okolí dálnic a&nbsp;železnic. Poslední možností je
		    zobrazení pouze vlastních provedených měření. Nechybí zde ani filtrování 
		    dat podle jednotlivých kritérií. Filtrovat lze tedy například podle typu měření 
		    (download, upload, atd.), časového období, technologie sítě, operátora nebo modelu
		    zařízení a&nbsp;také podle spousty dalších filtrů. Mapa také umožňuje změnit mapový podklad,
		    kdy je na výběr z&nbsp;celkem 5&nbsp;typů. 
		</p>
	    </div>
	    <div class="col-xs-12 col-sm-5 pull-right">
		<img class="img-responsive" src="{$basePath}/images/features/map.png" alt="map">
	    </div>
	</div>
    </div>
</section>
{/block}

{block scripts}{/block}