{* **** LAYOUT ************************************************************** *}

{layout '../@layoutFront.latte'}

{* **** HEAD **************************************************************** *}

{block title}Měření{/block}

{block head}{/block}

{* **** CONTENT ************************************************************* *}

{block content}
<!-- Section - Measurement -->
<section class="block">
    <div class="container">
	<header>
	    <h2>Měření</h2>
	    <span class="line"></span>
	</header>
	<div class="row">
	    <div class="col-xs-12 col-sm-7 col-md-6">
		<p class="text-justify">
		    Stěžejním procesem celého projektu MBTest je proces měření, 
		    pomocí něhož jsou získávána hlavní data. Mimo ně zasílá uživatel 
		    prostřednictvím mobilní aplikace (klienta) také další záznamy. 
		    Ty přímo nesouvisí s měřením kvality datového spojení, ale jsou 
		    důležité pro správné vyhodnocení naměřených údajů a následnou 
		    vhodnou interpretaci výsledků. Bez těchto naměřených informací by
		    celý projekt postrádal smysl. 
		</p>
		<p class="text-justify">
		    Tento proces je zahájen pouze na žádost uživatele, jedinou výjimku
		    tvoří možnost naplánování spuštění tohoto procesu v pravidelných 
		    intervalech, která je ale iniciována opět uživatelem.
		</p>
		<h3>Průběh procesu měření</h3>
		<ul>
		    <li> Spuštění aplikace MBTest na mobilním zařízení.</li>
		    <li> Přihlášení se k uživatelskému účtu MBTest.</li>
		    <li> Spuštění měření uživatelem nebo plánovačem (sheduler).</li>
		    <li> Odeslání údajů o klientovi na hlavní server.</li>
		    <li> Vytvoření nového záznamu měření.</li>
		    <li> Výběr vhodných měřících serverů.</li>
		    <li> Odeslání požadovaných dat o měřících serverech klientovi.</li>
		    <li> Navázání spojení mezi klientem a měřícími servery.</li>
		    <li> Zahájení měření s TCP měřícím serverem.</li>
		    <li> Ukončení měření TCP a odeslání výsledků klientovi.</li>
		    <li> Zahájení měření s UDP měřícím serverem.</li>
		    <li> Ukončení měření UDP a odeslání výsledků klientovi.</li>
		    <li> Odeslání konečných výsledků klientem na hlavní server.</li>
		    <li> Ukončení měření.</li>
		    <li> Zobrazení naměřených výsledků klientovi.</li>
		</ul>
	    </div>
	    <div class="hidden-xs col-sm-12 col-sm-5 pull-right">
		<img class="img-responsive" src="{$basePath}/images/tablet_mobile_measurement.png" alt="Měření v aplikaci MBTest" width="200" height="200">
		<img class="img-responsive" src="{$basePath}/images/features/data.png" alt="data">
	    </div>
	</div>
    </div>
</section>
{/block}

{block scripts}{/block}