{* **** LAYOUT ************************************************************** *}

{layout '../@layoutFront.latte'}

{* **** HEAD **************************************************************** *}

{block title}Mobilní aplikace{/block}

{block head}{/block}

{* **** CONTENT ************************************************************* *}

{block content}
<!-- Section - Mobile Apps -->
<section class="block">
    <div class="container">
	<header>
	    <h2>Mobilní aplikace</h2>
	    <span class="line"></span>
	</header>
	<div class="row">
	    <div class="col-xs-12">
		<p>
		    Ukázka aplikace MBTest pro operační systém Android.
		</p>
	    </div>
	    <div class="col-xs-12 col-sm-6 col-md-3">
		<img class="img-responsive" src="{$basePath}/images/features/android_app_02.png" alt="android_app">
	    </div>
	    <div class="col-xs-12 col-sm-6 col-md-3">
		<img class="img-responsive" src="{$basePath}/images/features/android_app_01.png" alt="android_app">
	    </div>
	    <div class="col-xs-12 col-sm-6 col-md-3">
		<img class="img-responsive" src="{$basePath}/images/features/android_app_03.png" alt="android_app">
	    </div>
	    <div class="col-xs-12 col-sm-6 col-md-3">
		<img class="img-responsive" src="{$basePath}/images/features/android_app_04.png" alt="android_app">
	    </div>
	</div>
    </div>
</section>
{/block}

{block scripts}{/block}