{* **** LAYOUT ************************************************************** *}

{layout '../@layoutFront.latte'}

{* **** HEAD **************************************************************** *}

{block title}Změna hesla{/block}

{block head}{/block}

{* **** CONTENT ************************************************************* *}

{block content}
<!-- Section - ChangePassword -->
<section class="block">
    <div class="container-fluid">
	<div class="row">
	    <div class="col-xs-4">
		{if $user->identity->username === 'tester'}
		    <div class="alert alert-warning" role="alert">
			<strong>Upozornění: </strong>tato možnost není dostupná pro testovací účet
		    </div>
		{else}
		    @todo Lukáš Sokol
		{/if}
	    </div>
	</div>
    </div>
</section>
{/block}

{block scripts}{/block}