{layout '../../templates/@layout.latte'}

{block mainHead}
{block head|trim}{/block}
{/block}

{block navigationLinks}
{include './components/navigation/navigationAdmin.latte'|indent|trim}
{/block}

{block mainContent}
{block content|trim}{/block}
{/block}

{block mainScripts}
<script src="{$basePath}/js/jquery.filedownload.js"></script>
<script src="{$basePath}/js/jquery.cookie.js"></script>
<script src="{$basePath}/js/polyline.js"></script>
{block scripts|trim}{/block}
{/block}

{block footer}
<div class="container">
    <div class="row">
	<div class="col-xs-8 col-sm-offset-3 col-sm-6">
	    <ul class="copyright">
		<li><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>&nbsp;<strong>{date('Y') == 2015 ? '2015' : '2015 - ' . date('Y')} MBTest</strong></li>
		<li>Lukáš Kočí</li>
		<li>Lukáš Sokol</li>
	    </ul>
	</div>
    </div>
</div>
{/block}