{form osmImportForm}
    <div class="form-errors" n:if="$form->hasErrors()" >
	{include '../../../../templates/components/other/formErrors.latte', form => $form|indent|trim}
    </div>
    <div class="form-horizontal" role="form">
        <div class="form-group required">			
            {label id class => 'control-label col-xs-4 col-md-3' /}
            <div class="col-xs-8 col-sm-5 col-lg-4">						    
                {input id class => 'form-control'}
            </div>
	    <div n:if="$form['id']->hasErrors()" class="col-xs-12 col-sm-3 col-md-4 col-lg-5 form-error">						    
		{include '../../../../templates/components/other/formError.latte', error => $form['id']->error|indent:2|trim}
            </div>
        </div>
	<div class="form-group required">			
            {label name class => 'control-label col-xs-4 col-md-3' /}
            <div class="col-xs-8 col-sm-5 col-lg-4">						    
                {input name class => 'form-control'}
            </div>
	    <div n:if="$form['name']->hasErrors()" class="col-xs-12 col-sm-3 col-md-4 col-lg-5 form-error">						    
		{include '../../../../templates/components/other/formError.latte', error => $form['name']->error|indent:2|trim}
            </div>
        </div>
	<div class="form-group required">			
            {label feature class => 'control-label col-xs-4 col-md-3' /}
            <div class="col-xs-8 col-sm-5 col-lg-4">						    
                {input feature class => 'form-control'}
            </div>
	    <div n:if="$form['feature']->hasErrors()" class="col-xs-12 col-sm-3 col-md-4 col-lg-5 form-error">						    
		{include '../../../../templates/components/other/formError.latte', error => $form['feature']->error|indent:2|trim}
            </div>
        </div>
	<div class="form-group required">			
            {label csv_upload class => 'control-label col-xs-4 col-md-3' /}
            <div class="col-xs-8 col-sm-5 col-lg-4">						    
                {input csv_upload class => 'form-control'}
            </div>
	    <div n:if="$form['csv_upload']->hasErrors()" class="col-xs-12 col-sm-3 col-md-4 col-lg-5 form-error">						    
		{include '../../../../templates/components/other/formError.latte', error => $form['csv_upload']->error|indent:2|trim}
            </div>
        </div>
	<div class="form-group required">			
            {label json_upload class => 'control-label col-xs-4 col-md-3' /}
            <div class="col-xs-8 col-sm-5 col-lg-4">						    
                {input json_upload class => 'form-control'}
            </div>
	    <div n:if="$form['json_upload']->hasErrors()" class="col-xs-12 col-sm-3 col-md-4 col-lg-5 form-error">						    
		{include '../../../../templates/components/other/formError.latte', error => $form['json_upload']->error|indent:2|trim}
            </div>
        </div>
	<div class="form-group">
	    <div class="col-xs-12 col-sm-offset-4 col-sm-8 col-md-offset-3 col-md-9">	
		<div class="red">* povinná pole</div> 
	    </div>	
	</div>
        <div class="form-group">
            <div class="col-xs-12 col-sm-offset-4 col-sm-8 col-md-offset-3 col-md-9">
                {input load class => 'btn btn-success'}
            </div>
        </div>
    </div> 
{/form}

