<div class="container">
    <div class="row">
	<div class="col-xs-11 col-sm-9 col-lg-10">
	    <h1>Vítejte na portálu MBTest</h1>
	</div>
    </div>
    <div class="row">
	<div class="col-xs-11 col-sm-9 col-lg-10">
	    <p class="text-justify">MBTest je mobilní aplikace umožňující uživatelům provádět přesná a podrobná měření kvality mobilních datových sítí.
		Z výsledků těchto měření lze poté získat komplexní informace o kvalitě datového připojení v dané lokalitě. 
		Uživatel může následně tato získaná data porovnávat se svými minulými měřeními nebo, což je určitě zajímavější,
		s daty naměřenými ostatnímy účastníky. 
		To vše je možné provádět na tomto portálů, který vznikl za účelem zobrazení výsledků těchto měření 
		ať již ve formě statistických dat a grafů nebo na mapových podkladech.
	    </p>
	</div>
    </div>
    <div class="row">
	<div class="col-xs-11 col-sm-9 col-lg-10">
	    <a class="btn btn-lg btn-green btn-jumbotrom scroller" href="#getting-started" data-section="#getting-started" role="button">
		<span class="glyphicon glyphicon-chevron-down"></span>
	    </a>
	</div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
	<div class="col-xs-12 text-right">
	    <div class="license">
		<a class="link" href="https://www.flickr.com/photos/bods/">Andrew Bowden</a>&nbsp;|&nbsp;
		<a class="link" href="https://www.flickr.com/photos/bods/4447644655/in/photolist-7M2kNx-AJDWE-6Ko5L-av9C1y-pAQH96-9tstnm-gcBULZ-RSpS5-av9G2C-av6Uyg-bpDAkX-av9ArE-av9A1E-av6TLZ-av9yVd-av9A73-aeDjH5-cPxyt-aeAuPp-bdhweg-5JjGVK-dhxPBS-dNAMU7-kSEcej-kSD4Qn-kSE7q1-kSE4Wy-kSCg5R-kSCdUZ-kSCbrn-kSDVgN-kSC7tc-kSCL38-kSDPmb-kSDMD3-kSDyeY-abydJQ-hMbj2Z-bUKoP5-xut2p8-i3Wt24-6bUpPC-pD9KA-jZGtGm-dkMday-4tqhHf-4uKMCr-7t9b9r-4Y5Kbo-jZEPoD/">Originál</a>&nbsp;|&nbsp;
		<a class="link" href="https://creativecommons.org/licenses/by-sa/2.0/">
		    {*<img class="img-license" src="{$basePath}/images/cc.png" alt="cc">
		    <img class="img-license" src="{$basePath}/images/by.png" alt="by">
		    <img class="img-license" src="{$basePath}/images/sa.png" alt="sa">*}CC BY SA Licence
		</a>
	    </div>
	</div>
    </div>
</div>
