{block routingPanel}
<div id="path">
    <span id="module">{$moduleName}<span id="presenter">{$presenterName}:<span id="view">{$viewName}</span></span></span><br>
    <span id="layout">{$template->getName() |replace:$root}</span><br>
    <span id="path">{$presenter->template->getFile() |replace:$root}</span>
</div>
{/block}