{* **** LAYOUT ************************************************************** *}

{layout '../@layoutAdmin.latte'}

{* **** HEAD **************************************************************** *}

{block title}Obecné nastavení{/block}

{block head}{/block}

{* **** CONTENT ************************************************************* *}

{block content}
<!-- Section - Default -->
<section class="block">
    <div class="container-fluid">
	<div class="container-box act" data-action="general">
	    <h1>Obecné nastavení aplikace</h1>
	    <div class="form" id="settings-form">
		{foreach $settings as $setting}
		    <div class="form-group" data-id="{$setting->id_general_settings}">
			{if $setting->checkbox}
			    <label for="check{$setting->id_general_settings}">{$setting->name}: <input type="checkbox" id="check{$setting->id_general_settings}" {if $setting->value == 1}checked{/if}></label>
			    {else}
			    <label for="textinp{$setting->id_general_settings}">{$setting->name}: </label>
			    <input type="text" id="textinp{$setting->id_general_settings}" class="form-control" value="{$setting->value}">
			{/if}
		    </div>
		{/foreach}
		<input type="button" value="Změnit nastavení" class="btn btn-admin" onclick="mbtest.functions.sendSaveSettings();">
	    </div>
	</div>
    </div>
</section>
{/block}

{block scripts}{/block}
