{layout '../../templates/@layout.latte'}

{block mainHead}
{block head|trim}{/block}
{/block}

{block navigationLinks}
{if $user->isLoggedIn()}
    {include './components/navigation/navigationApp.latte'|indent|trim}
{else}
    {include './components/navigation/navigationHomepage.latte'|indent|trim}
{/if}
{/block}

{block mainContent}
<!-- Banner -->
<section class="banner" n:if="$presenter->isLinkCurrent(':Front:Default:default')">
    <div class="jumbotron">
	{include './components/other/banner.latte'|indent|trim}
    </div>
</section>

{block content|trim}{/block}
{/block}

{block mainScripts}
{block scripts|trim}{/block}
{/block}

{block footer}
<div class="container">
    <div class="row">
	<div class="col-xs-8 col-sm-offset-3 col-sm-6">
	    <ul class="copyright">
		<li><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>&nbsp;<strong>{date('Y') == 2015 ? '2015' : '2015 - ' . date('Y')} MBTest</strong></li>
		<li>Lukáš Kočí</li>
		<li>Lukáš Sokol</li>
	    </ul>
	</div>
    </div>
</div>
{/block}