h1 {
    color: @gray-darker;

}

a {
    color: @brand-primary;
}

.navbar {
    .image-gradient(@gray-dark, @gray-darker, 0px);

    .nav {
        li {
            &.active{
                a {
                    .image-gradient(@gray, @gray-light, 4px);
                }
            }
        }
    }
}

.btn {
    border: 0;
}

.btn-default {
    background: @gray-darker;

    &:hover {
        background: @gray;
    }
}


.container-box {
    display: none;

    &.act {
        display: block;
    }
}

.logout {
    margin: 15px 0;
}

#settings-form {
    margin: 30px 0;
    .form-group {
        input {
            margin-left: 10px;
        }
    }

    input[type=text] {
        border: 1px solid @gray-light;
        width: auto;
        display: inline-block;
    }

    .btn-admin {
        margin-top: 20px;
    }
}

#users-form {
    input[type=text] {
        width: auto;
        display: inline-block;
    }

    .user {
        border-bottom: 1px solid @gray-dark;
        .options {
            margin-top: 12px;
        }
        h3 {
            i {
                margin-right: 15px;
            }
        }
        select {
            color: @gray-darker;
            border: 1px solid @gray-dark;
        }
    }

}

#export-form {
    .info {
        margin-top: 15px;
        margin-left: 20px;

        i {
            font-size: 17px;
            margin-right: 10px;
        }
    }

    .checkbox {
        margin-bottom: 5px;
        label {
            font-size: 17px;
        }
    }

    .buttons {
        margin-top: 10px;
    }

    .set-export {
        cursor: pointer;
    }

    .box.bot{
        &:last-child {
            border-bottom: none;    
        }
    }
}


body {
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    background: white;
}


#ajax-spinner {
    margin: 15px 0 0 15px;
    padding: 13px;
    background: white url('../images/spinner.gif') no-repeat 50% 50%;
    font-size: 0;
    z-index: 123456;
    display: none;
}

div.flash {
    color: black;
    background: #FFF9D7;
    border: 1px solid #E2C822;
    padding: 1em;
    margin: 1em 0;
}

form th, form td {
    vertical-align: top;
    font-weight: normal;
}

form th {
    text-align: right;
}

form .required label {
    font-weight: bold;
}

form .error {
    color: #D00;
    font-weight: bold;
}

html.js .jshidden {
    display: none;
}