/* 
       Created on : 9.10.2015, 16:38:35
       Author     : Lukas Koci <kociluk1@fit.cvut.cz>
*/

#wrapper[data-type=front] {

    /**
     * ************** Bootstrap **************
     */

    .block {
	header {
	    color: @myHeaderGray;
	    margin-bottom: 20px;
	    margin-top: 20px;
	    text-align: center;

	    .line {
		border-top: 1px solid @myHeaderGray;
		box-shadow: 0px 1px 0px 0px white;
		display: block;
		margin: 10px auto 0;
		width: 148px;
	    }
	}

	&.green-block {
	    background-color: @myGreenLighter;
	}

	&.white-block {
	    background-color: @myWhite;
	    border-bottom: 1px solid rgba(144, 144, 144, 0.25);
	    border-top: 1px solid rgba(144, 144, 144, 0.25);
	}
    }

    .btn-green {
	.button-shape;
	margin-bottom: 10px;

	&:hover, &:active {
	    .gray-transition;
	}
    }

    .btn-jumbotrom {
	margin-top: 100px;
    }

    .chart {
	height: auto !important;
	min-height: 164px;
	max-width: 800px;
	width: 100% !important;
    }

    .form-errors, .form-info {
	margin: 0 15px 0 15px;

	.alert {
	    margin-bottom: 7px;
	}
    }

    .form-main {
	padding: 15px;
	padding-top: 20px;

	.form-group {
	    margin-bottom: 8px;
	}
    }

    .form-signin {
	margin: 0 auto;
	max-width: 400px;
	padding: 15px;
	padding-top: 0;

	.form-group {
	    margin-bottom: 8px;
	}
    }

    .form-contact {
	&.form-horizontal {
	    .form-group {
		margin-left: 0;
		margin-right: 0;
	    }
	}
    }

    .glyphicon-chevron-down {
	margin-top: 5px;
    }

    .img-center {
	display: block;
	margin-left: auto;
	margin-right: auto 
    }

    .img-responsive {
	margin-bottom: 20px;
	margin-top: 20px;
    }

    .jumbotron {
	background-image: url(../images/light_tint.png), url(../images/cover.jpg);
	background-position: center center;
	background-size: cover;
	padding-top: 8em;
	padding-bottom: 0;
	margin: 0;
    }

    .license {
	color: @gray-lightest;
	font-weight: 600;
	margin-top: 10px;

	a {
	    color: @gray-lighter;

	    &:hover, &:active {
		color: @myGreenLightest;
	    }
	}
    }

    .map {
	padding: 0;
    }

    .navbar-brand {
	padding-bottom: 10px;
	padding-top: 10px;
    }

    .navbar-fixed-top {
	&.scroll {
	    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.9);
	    opacity: 0.96;
	}
	.navbar-collapse {
	    max-height: 380px;
	}
    }

    .navbar-inverse {
	.navbar-toggle {	
	    &:hover {
		.gray-transition;

		.icon-bar {
		    background-color: @myBlack;
		    border-color: @myBlack;
		    color: @myBlack;
		}
	    }
	}

	.navbar-nav {
	    > li {
		> a {
		    font-size: 13px;
		    font-weight: 600;
		    padding-bottom: 13px;
		    padding-top: 17px;
		}
	    }

	    &.navbar-sign {
		> li {
		    > a {
			.button-shape;
			color: @myWhite;
			margin: 7px 5px 7px 5px;
			padding: 7px;

			&:hover, &:active {
			    .gray-transition;
			    color: @myBlack;
			    text-shadow: none;
			}

			&.btn-dropdown {
			    padding: 8px;
			    text-align: center;
			}
		    }
		}
	    }

	    > .open {
		> a {
		    background-image: none !important;
		    background-color: @myGray !important;
		}
	    }
	} 
    }

    .navbar-logo {
	height: 30px;
    }

    .navbar-right {
	margin-right: 0;
    }

    .no-padding-left {
	padding-left: 0 !important;
    }

    .row {
	&.to-right {
	    .info {
		float: left;
	    }

	    .pict {
		float: right;
	    }
	}
    }

    .panel-body {
	min-height: 160px;
    }

    .scroll-top-wrapper {
	.button-shape;
	bottom: 20px;
	height: 51px;
	line-height: 48px;
	opacity: 0;
	overflow: hidden;
	padding-top: 2px;
	position: fixed;
	right: 20px;
	text-align: center;
	visibility: hidden;
	width: 51px;
	z-index: 99999999;

	&.show {
	    cursor: pointer;
	    opacity: 1.0;
	    visibility: visible;
	}

	&:hover, &:active {
	    .gray-transition;
	}

	a {
	    color: @myWhite;
	}
    }

    .score {
	margin-top: 15px;
	font-size: 60px;
    }

    .sidebar {
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: @myWhite;

	&.navbar-collapse {
	    border: 0;
	    padding: 0;
	}

	.panel-group {
	    .panel {
		border: 0px solid transparent;
		border-radius: 0px;
		margin-top: 0;
	    }
	}

	.panel-heading {
	    background: @gray-lightest;
	    border-radius: 0px;

	    > a {
		text-decoration: none;
		color: @gray;
		&:hover, &:focus {
		    color: @gray-dark;
		}
		h4 {
		    font-weight: bold;
		}
	    }
	    &:hover, &:focus {
		background: @gray-lighter;

	    }
	    &.active {
		background: @gray-lighter;
		> a {
		    color: @myGreen;
		}
	    }
	}
    }

    .tab-sign {
	background-color: @myWhite;
	border: 1px solid @myBorderGray;
	border-top: 0;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding-top: 15px;
    }

    .topbar {
	background-color: @myWhite;
	padding: 0;

	.icon-bar {
	    background-color: @myWhite;
	}

	.navbar-toggle {	
	    .button-shape;
	    border-radius: 4px;
	    margin-left: 15px;

	    &:hover {
		.gray-transition;

		.icon-bar {
		    background-color: @myBlack;
		    border-color: @myBlack;
		    color: @myBlack;
		}
	    }
	}
    }

    /**
     * ************** Leaflet Map **************
     */

    #map { 
	min-height: 200px;
    }
    .leaflet-container {
	.leaflet-control-search {
	    background-color: @myWhite;
	}
    }

    .leaflet-control-locate {
	a {
	    font-size: 20px;
	}
    } 

    .leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
    }

    .leaflet-cluster-spider-leg {
	/* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
	-webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
	-moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
	-o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
	transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
    }
}
