/**
 * ************** HTML Tags **************
 */

html {
    position: relative;
    min-height: 100%;
}

body {
    background: url(../../images/bg.jpg) repeat;
    margin-top: @headerHeight;
    margin-bottom: @footerHeight;
}

a[href^="#error:"] {
    background: red;
    color: white;
}

/**
 * ************** Bootstrap **************
 */

.btn-admin {
    border: 1px solid @gray-dark;
    color: @gray-dark !important;
    font-weight: bold;
    background: white;
    margin-left: 0;

    &:hover {
        color: white !important;
        background: @gray-dark;
    }
}

.block {
    padding: 20px 0;
}

.box {
    border: 1px solid @gray-light;
    padding: 20px;
    margin: 20px 10px;

    &.bot{
        border: none;
        border-bottom: 1px solid @gray-light;
    } 
}

.clickable {
    cursor: pointer !important;
}

.copyright {
    margin: 20px 0;
    li {
	color: @gray-light;
	display: inline-block;
	list-style: none;
	margin-left: 10px;
	padding-left: 10px;
    }
}

.footer {
    background-color: @gray-darker;
    bottom: 0;
    height: @footerHeight;
    position: absolute;
    width: 100%;
    z-index: 1010;
}

.form-error {
    .alert {
	padding: 6px;
	margin-bottom: 5px;
    }
}

.form-group {
    &.required {
	.control-label {
	    &:after {
		content:" *";
		color:red;
	    }
	}
    }
} 

form {
    .required label {
	font-weight: bold;
    }
}

.red {
    font-size: 8pt;
    font-weight: bold;
    color: red;
}

.text-uppercase {
    text-transform: uppercase;
}

/**
 * ************** Loader Overlay **************
 * @author Luke Hass <https://twitter.com/lukehaas
 * http://projects.lukehaas.me/css-loaders/
 */

.loaderShape() {
    border-radius: 50%;
    width: 11em;
    height: 11em;
}


.loader-overlay {
    background: @myLoaderOverlay;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1005;

    .loader {
	.loaderShape;
	font-size: 10px;
	text-indent: -9999em;
	border-top: 1.2em solid rgba(255, 255, 255, 0.7);
	border-right: 1.2em solid rgba(255, 255, 255, 0.7);
	border-bottom: 1.2em solid rgba(255, 255, 255, 0.7);
	border-left: 1.2em solid @myGreen;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.5s infinite linear;
	animation: load8 1.5s infinite linear;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 40%;

	&:after {
	    .loaderShape;
	}
    }
}

@-webkit-keyframes load8 {
    0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
    }
    100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
    }
    100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
    }
}
