.button-shape() {
    background-color: @myGreen;
    border-radius: 8px;
    color: @myWhite;
    cursor: pointer;
}

.image-gradient(@from, @to, @radius) {
    background-image: -webkit-linear-gradient(top,@from 0,@to 100%);
    background-image: -o-linear-gradient(top,@from 0,@to 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(@from),to(@to));
    background-image: linear-gradient(to bottom,@from 0,@to 100%);
    background-repeat: repeat-x;
    border-radius: @radius;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
}

.gray-transition() {
    background-color: @myGray;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}