{* **** LAYOUT ************************************************************** *}

{layout '../@layoutFront.latte'}

{* **** HEAD **************************************************************** *}

{block title}Dashboard{/block}

{block head}{/block}

{* **** CONTENT ************************************************************* *}

{block content}
<!-- Section - Dashboard -->
<section class="block">
    <div class="container-fluid">
	<div class="row">
	    <div class="col-xs-12 col-lg-6">
		<div class="panel panel-default">
		    <div class="panel-heading">
			<h3 class="panel-title">Přehled</h3>
		    </div>
		    <ul class="list-group">
			<li class="list-group-item">Poslední přihlášení: {$userData->last_login|date:'d.m.Y H:i'}</li>
			<li class="list-group-item">Poslední IP: {$userData->last_ip}</li>
			<li class="list-group-item">Poslední měření: {$lastMeasurement ? $lastMeasurement->date_time|date:'d.m.Y H:i'}</li>
			<li class="list-group-item">Celkem provedeno měření: {$measurementsCount}</li>
		    </ul>
		</div>
	    </div>
	    <div class="col-xs-12 col-sm-6 col-lg-3">
		<div class="panel panel-default">
		    <div class="panel-heading">
			<h3 class="panel-title">mBody</h3>
		    </div>
		    <div class="panel-body">
			<div class="text-center score">{$score}&nbsp;{*if $score === 1}mBod{elseif $score > 1 && $score < 5}mBody{else}mBodů{/if*}</div>
		    </div>
		</div>
	    </div>
	    <div class="col-xs-12 col-sm-6 col-lg-3">
		<div class="panel panel-default">
		    <div class="panel-heading">
			<h3 class="panel-title">Moje hodnost</h3>
		    </div>
		    <div class="panel-body text-center">
			<img src="{$basePath}{$rankPicture}" alt="Můj rank">
		    </div>
		</div>
	    </div>
	    <div class="clearfix visible-lg-block"></div>
	    <div class="col-xs-12 col-md-8 col-lg-6">
		<div class="panel panel-default">
		    <div class="panel-heading">
			<h3 class="panel-title">Posledních 10 měření z celkem {$measurementsCount}</h3>
		    </div>
		    <div class="panel-body">
			<div class="table-responsive">
			    <table id="dashboard-table" class="table table-striped table-hover">
				<thead>
				    <tr>
					<th>#</th>
					<th class="text-center" colspan="2">Download</th>
					<th class="text-center" colspan="2">Upload</th>
					<th class="text-center" colspan="2">Ping</th>
					<th class="text-center" colspan="2">Signál</th>
				    </tr>
				</thead>
				<tbody>
				    <tr n:foreach="$measurements as $measurement">
					<td class="text-left">{$measurementsCount--}</td>
					<td class="text-right">{$measurement->download|substr:0:-3}</td>
					<td class="no-padding-left">kb/s</td>
					<td class="text-right">{$measurement->upload|substr:0:-3}</td>
					<td class="no-padding-left">kb/s</td>
					<td class="text-right">{$measurement->ping_avg}</td>
					<td class="no-padding-left">ms</td>
					<td class="text-right">{$measurement->signal}</td>
					<td class="no-padding-left"></td>
				    </tr>
				</tbody>
			    </table>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<div class="panel panel-success">
		    <div class="panel-heading">
			<h3 class="panel-title">Download [kb/s]</h3>
		    </div>
		    <div class="panel-body">
			<canvas id="myChartDownloads" class="chart"></canvas>
		    </div>
		</div>
	    </div>
	    <div n:if="!count($measurements) === 10" class="clearfix visible-md-block"></div>
	    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<div class="panel panel-danger">
		    <div class="panel-heading">
			<h3 class="panel-title">Upload [kb/s]</h3>
		    </div>
		    <div class="panel-body">
			<canvas id="myChartUploads" class="chart"></canvas>
		    </div>
		</div>
	    </div>
	    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<div class="panel panel-info">
		    <div class="panel-heading">
			<h3 class="panel-title">Ping [ms]</h3>
		    </div>
		    <div class="panel-body">
			<canvas id="myChartPings" class="chart"></canvas>
		    </div>
		</div>
	    </div>
	    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<div class="panel panel-warning">
		    <div class="panel-heading">
			<h3 class="panel-title">Signál [dbm]</h3>
		    </div>
		    <div class="panel-body">
			<canvas id="myChartSignals" class="chart"></canvas>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</section>
{/block}

{block scripts}
<script src="{$basePath}/js/chart.min.js"></script>
<script src="{$basePath}/js/mbtest.chart.js"></script>
{/block}
