{* **** LAYOUT ************************************************************** *}

{layout '../@layoutFront.latte'}

{* **** HEAD **************************************************************** *}

{block title}Přihlášení{/block}

{block head}{/block}

{* **** CONTENT ************************************************************* *}

{block content}
{var $otpError = $presenter->getParameter('do') === 'otpSignInForm-submit' ? TRUE : FALSE}
<!-- Section - Sign in -->
<section class="block">
    <div class="container">
	<div class="row">
	    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" n:class="!$otpError ? active"><a href="#sign-in" aria-controls="sign-in" role="tab" data-toggle="tab">Uživatelské jméno a heslo</a></li>
		    <li role="presentation" n:class="$otpError ? active"><a href="#otp-sign-in" aria-controls="otp-sign-in" role="tab" data-toggle="tab">Jednorázový přístupový kód</a></li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content tab-sign">
		    <div role="tabpanel" n:class="tab-pane, !$otpError ? active" id="sign-in">
			{include '../components/forms/signInForm.latte'|indent:3|trim}
		    </div>
		    <div role="tabpanel" n:class="tab-pane, $otpError ? active" id="otp-sign-in">
			{include '../components/forms/otpSignInForm.latte'|indent:3|trim}
		    </div>
		</div>
	    </div>
	</div>
	<br>
	<div class="row">
	    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
		<div class="alert alert-info" role="alert">
		    <strong>Testovací účet:</strong>
		    <p class="text-justify">
			Testovací účet slouží pro účely úkázky některých možností, které nabízí portál MBTest.
			K&nbsp;náhledu je připraven Dashboard a&nbsp;z implementovaných funkcionalit lze 
			vyzkoušet mapu včetně všech jejích funkcí.
		    </p>
		    <br>
		    <strong>Přihlašovací údaje:</strong> 
		    <ul>
			<li>Login: tester</li>
			<li>Heslo: mbtest_tester_pass</li>
		    </ul>
		</div>
	    </div>
	</div>
    </div>
</section>
{/block}

{block scripts}{/block}