{* **** LAYOUT ************************************************************** *}

{layout '../@layoutFront.latte'}

{* **** HEAD **************************************************************** *}

{block title}Nastavení nového hesla{/block}

{block head}{/block}

{* **** CONTENT ************************************************************* *}

{block content}
<!-- Section - Set New Password -->
<section class="block">
    <div class="container">
	<div class="row">
	    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-5 col-lg-offset-4 col-lg-4">
		{include '../components/forms/resetPasswordForm.latte'|indent:2|trim}
	    </div>
	</div>
    </div>
</section>
{/block}

{block scripts}{/block}