{* **** LAYOUT ************************************************************** *}

{layout '../@layoutFront.latte'}

{* **** HEAD **************************************************************** *}

{block title}Registrace{/block}

{block head}{/block}

{* **** CONTENT ************************************************************* *}

{block content}
<!-- Section - Sign up -->
<section class="block">
    <div class="container">
	<header>
	    <h2>Registrace</h2>
	    <span class="line"></span>
	</header>
	<div class="row">
	    <div class="col-xs-12 col-sm-offset-1 col-sm-7 col-md-offset-2 col-md-5 col-lg-offset-3 col-lg-4">
		<h3>Stáhněte a nainstalujte MBTest</h3>
		<ol>
		    <li>Stáhněte si MBTest na vaše mobilním zařízení.</li>
		    <li>Nainstalujte staženou aplikaci MBTest.</li>
		</ol>
		<a class="btn btn-green" n:href=":Front:Default:default#mobile-apps" role="button">Mobilní aplikace MBTest</a>
	    </div>
	    <div class="col-xs-12 col-sm-3">
		<img class="img-responsive img-center" src="{$basePath}/images/tablet_mobile_android.png" alt="Aplikace MBTest pro OS Android" width="140" height="140">
	    </div>
	</div>

	<div class="row">
	    <div class="col-xs-12 col-sm-offset-1 col-sm-7 col-md-offset-2 col-md-5 col-lg-offset-3 col-lg-4">
		<h3>Registrujte si svůj účet MBTest</h3>
		<ol>
		    <li>Spusťte MBTest na vašem mobilním zařízení.</li>
		    <li>Klepněte na <kbd>Vytvořit účet</kbd>.</li>
		    <li>Sledujte pokyny na obrazovce.</li>
		</ol>
	    </div>
	    <div class="col-xs-12 col-sm-3">
		<img class="img-responsive img-center" src="{$basePath}/images/tablet_mobile.png" alt="Aplikace MBTest na mobilních zařízeních" width="140" height="140">
	    </div>
	</div>
    </div>
</section>
{/block}

{block scripts}{/block}