{* **** LAYOUT ************************************************************** *}

{layout '../@layoutFront.latte'}

{* **** HEAD **************************************************************** *}

{block title}Nápověda{/block}

{block head}{/block}

{* **** CONTENT ************************************************************* *}

{block content}
<!-- Section - Help -->
<section class="block">
    <div class="container-fluid">
	<div class="row">
	    <div class="col-xs-12">
		<header>
		    <h2>Ovládací a filtrovací prvky mapy</h2>
		    <span class="line"></span>
		</header>
	    </div>
	    <div class="col-xs-12 col-md-4">
		<br>
		<ol>
		    <li>Tlačítka pro přiblížení a oddálení mapy.</li>
		    <li>Tlačítko pro vyhledávání lokací na mapě.</li>
		    <li>Tlačítko pro vyhledání a zobrazení vlastní polohy na mapě.</li>
		    <li>Seznam s výběrem mapového podkladu.</li>
		    <li>Možnosti zobrazení jednotlivých měření nebo heatmapy.</li>
		    <li>Vlastní poloha na mapě s přesností na X metrů.</li>
		    <li>Zeměpisné souřadnice zobrazené po kliknutí do daného místa na mapě.</li>
		    <li>Jedno měření zobrazené na mapě.</li>
		    <li>Vybrané měření (po kliknutí) se zobrazenými podrobnostmi o měření.</li>
		    <li>Tabulka obsahují všechny podrobné informace o daném měření.</li>
		    <li>Několik měření z blízkého okolí sloučených do společného bodu.</li>
		    <li>Označený bod (po najetí myši na něj) slučující několik měření ze zobrazeného okolí ohraničeného modrou čarou.</li>
		    <li>Typ zobrazených dat  vybrána měření ze všech oblastí.</li>
		    <li>Filtrovací nástroje pro zobrazení vybraných měření.</li>
		    <li>Počet zobrazených výsledků na mapě.</li>
		    <li>Typ zobrazených dat  měření provedená v okolí dálnic a železnic.</li>
		    <li>Typ zobrazených dat  vlastní měření.</li>
		</ol>
	    </div>
	    <div class="col-xs-12 col-md-8">
		<img class="img-responsive" src="{$basePath}/images/features/user_manual_map.png" alt="user_manual_map">
	    </div>
	</div>
    </div>
</section>
{/block}

{block scripts}{/block}