{* **** LAYOUT ************************************************************** *}

{layout '../@layoutFront.latte'}

{* **** HEAD **************************************************************** *}

{block title}Hodnosti{/block}

{block head}{/block}

{* **** CONTENT ************************************************************* *}

{block content}
<!-- Section - Ranks -->
<section class="block">
    <div class="container-fluid">
	<div class="row">
	    <div class="col-xs-12">
		<header>
		    <h2>Základní údaje o hodnostech</h2>
		    <span class="line"></span>
		</header>
	    </div>
	    <div class="col-xs-12 col-md-4">
		<h3>Oprávnění a mBody</h3>
		<p class="text-justify">
		    Práva v portálu udává hodnost (rank) získaná uživatelem. 
		    Tato hodnost je přidělena na základě dosaženého skóre 
		    v&nbsp;systému hodností, které mají bodové rozpětí. 
		    Základní jednotkou tohoto systému je 1&nbsp;mBod (měřící bod). 
		    Po dosažení určitého počtu mBodů stanovených danou hodností
		    postoupí uživatel v hierarchii hodností o&nbsp;úroveň výše. 
		    Tím si zároveň zpřístupní nové funkcionality na portálu.
		</p>
		<h3>Základní pilíře systému práv</h3>
		<ul>
		    <li> Základem je systém hodností (ranks).</li>
		    <li> Hodnost (rank) uživatele udává jeho práva v rámci portálu.</li>
		    <li> Hodnost je omezena bodovým rozpětím.</li>
		    <li> Hodnost zpřístupňuje nové funkcionality.</li>
		    <li> Základní jednotka je 1 mBod.</li>
		    <li> Získané mBody tvoří skóre.</li>
		    <li> Skóre v daném rozpětí udává hodnost.</li>
		    <li> Uživatel má pouze jednu hodnost a to tu nejvyšší dosaženou.</li>
		    <li> Uživatel začíná (po registraci) s hodností Rank 0.</li>
		</ul>
	    </div>
	    <div class="col-xs-12 col-sm-6 col-md-4">
		<h3>Získávání mBodů za jednotlivá měření</h3>
		<p class="text-justify">
		    Získávání mBodů za jednotlivá měření je prvním ze dvou způsobů jak získat mBody. 
		    Vždy, když uživatel provede nové měření, tak systém nejprve zjistí, zda se 
		    v&nbsp;kvadrantu 20x20m nenachází již nějaké měření daného uživatele. Pokud 
		    ano, uživatel neobdrží za nové měření žádný mBod. Pokud se ale v&nbsp;daném 
		    kvadrantu nenachází žádné měření, tak je dále zjišťováno kolik dalších měření 
		    se nalézá tentokrát v&nbsp;kvadrantu 500x500m. Pokud je to více jak deset měření,
		    tak uživatel získá 1 mBod. Pokud je to mezi šesti až deseti měřeními včetně, tak
		    uživatel získá za své nové měření 5 mBodů. Poslední možností je, že bylo nalezeno
		    pět nebo méně měření. V&nbsp;takovém případě uživatel získá plný počet mBodů, který
		    je možné získat za jedno měření, a&nbsp;sice 10 mBodů.
		</p>
		<h3>Získávání mBodů za pravidelná měření</h3>
		<p class="text-justify">
		    Druhou možností jak získat mBody je provádět pravidelná měření. Systém provádí
		    kontrolu jednou denně. Nejprve je tedy z&nbsp;databáze získán seznam uživatelů, 
		    kteří provedli za posledních den alespoň jedno měření. U&nbsp;těchto uživatelů je
		    dále zjištěno v&nbsp;kolika dnech z&nbsp;posledních 30 dnů provedli měření. 
		    Maximum je tedy určeno jako 30 dnů (uživatel měřil každý den). Na základě tohoto
		    počtu měření je poté vypočítán příslušný bonus. Pokud tedy uživatel provedl za
		    posledních 30 dní každý den alespoň jedno měření, tak získá 30 mBodů. Za méně 
		    jak 30 ale více jak 20 měření získá uživatel 15 mBodů, za 20 až 15 měření včetně
		    získá uživatel 10 mBodů a&nbsp;za méně jak 15 měření pak nezíská žádné mBody.
		</p>
	    </div>
	    <div class="col-xs-12 col-sm-6 col-md-4">
		<h3>Tabulka hodností</h3>
		<p class="text-justify">
		    Tabulka hodností určuje oprávnění k&nbsp;přístupu do jednotlivých sekcí portálu MBTest.
		    Vyšší hodnost má mimo svých vlastních oprávnění samozřejmě k&nbsp;dispozici i&nbsp;všechna oprávnění 
		    nižších hodností.
		</p>
		<table class="table table-striped table-hover">
		    <thead>
			<tr>
			    <th>Hodnost uživatele (rank)</th>
			    <th>Bodové rozpětí [mBod]</th>
			    <th>Oprávnění k přístupu do sekcí</th>
			    <th>Avatar</th>
			</tr>
		    </thead>
		    <tbody>
			<tr>
			    <td>Rank 0</td>
			    <td>0-10</td>
			    <td>Dashboard, Hodnosti, Nápověda</td>
			    <td><img class="img-responsive" src="{$basePath}/images/ranks/no_signal-128x128.png" width="70" height="70" alt="no_signal-128x128"></td>
			</tr>
			<tr>
			    <td>Rank 1</td>
			    <td>11-100</td>
			    <td>Mapa</td>
			    <td><img class="img-responsive" src="{$basePath}/images/ranks/signal_1-128x128.png" width="70" height="70" alt="signal_1-128x128"></td>
			</tr>
			<tr>
			    <td>Rank 2</td>
			    <td>101-1000</td>
			    <td>Moje měření </td>
			    <td><img class="img-responsive" src="{$basePath}/images/ranks/signal_2-128x128.png" width="70" height="70" alt="signal_2-128x128"></td>
			</tr>
			<tr>
			    <td>Rank 3</td>
			    <td>1001-10000</td>
			    <td>Statistiky - základní </td>
			    <td><img class="img-responsive" src="{$basePath}/images/ranks/signal_3-128x128.png" width="70" height="70" alt="signal_3-128x128"></td>
			</tr>
			<tr>
			    <td>Rank 4</td>
			    <td>10001--100000</td>
			    <td>Statistiky - rozšířené </td>
			    <td><img class="img-responsive" src="{$basePath}/images/ranks/signal_4-128x128.png" width="70" height="70" alt="signal_4-128x128"></td>
			</tr>
			<tr>
			    <td>Rank 5</td>
			    <td>100001 a více</td>
			    <td>Statistiky - všechny </td>
			    <td><img class="img-responsive" src="{$basePath}/images/ranks/signal_5-128x128.png" width="70" height="70" alt="signal_5-128x128"></td>
			</tr>
		    </tbody>
		</table>
	    </div>
	</div>
    </div>
</div>
</section>
{/block}

{block scripts}{/block}