{* **** LAYOUT ************************************************************** *}

{layout '../@layoutAdmin.latte'}

{* **** HEAD **************************************************************** *}

{block title}Uživatelská práva{/block}

{block head}{/block}

{* **** CONTENT ************************************************************* *}

{block content}
<!-- Section - Rights -->
<section class="block">
    <div class="container-fluid">
	<div class="container-box act"  data-action="rights">
	    <h1>Změna práv uživatele</h1>
	    <div class="form" id="users-form">
		<input type="text" onkeyup="mbtest.functions.trySearch(event);" id="search-user-input" class="form-control" placeholder="vyhledat uživatele" value=""><a href="#" class="btn btn-default" onclick="mbtest.functions.searchUser();
			return false;"><i class="fa fa-search"></i></a>
		<div id="found-users">
		    {foreach $users as $user}
			<div class="user row">
			    <div class="name col-sm-8">
				<h3><i class="fa fa-user"></i>{$user->username}, {$user->email}</h3>
			    </div>
			    <div class="options col-sm-4">
				<div class="col-sm-7">
				    <select id="user-right-{$user->id}" class="form-control">
					<option value="0">admin</option>
					<option value="1">right1</option>
					<option value="2">right2</option>
					<option value="3">right3</option>
					<option value="4">right4</option>
				    </select>
				</div>
				<button class="btn btn-admin col-sm-5" onclick="mbtest.functions.changeRight({$user->id});">Změnit</button>
			    </div>
			</div>
		    {/foreach}
		</div>
	    </div>
	</div>
    </div>
</section>
{/block}

{block scripts}{/block}