{**
 * @param Nette\Security\User   $user		user data
 * @param string		$basePath	web base path
 * @param array			$flashes	flash messages
*}

{var $admin = (App\Model\Authorizator::isAdmin($user) && $moduleName === 'Admin:')}

<!DOCTYPE html>
<html lang="cs" dir="ltr">
    <head>
	<meta charset=utf-8>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="MBTest - Měření kvality mobilních datových sítí">
	<meta name="author" content="Lukáš Kočí">

	<link rel="icon" href="{$basePath}/favicon.ico">

	<title>{block title|striptags|trim}{/block} | MBTest</title>

	<link type="text/css" rel="stylesheet" media="screen" href="{$basePath}/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" media="screen" href="{$basePath}/css/bootstrap-theme.min.css">
	<link type="text/css" rel="stylesheet" media="screen" href="{$basePath}/css/jquery.gritter.css">
	<link type="text/css" rel="stylesheet" media="screen" href="{$basePath}/css/style.css">
	<link type="text/css" rel="stylesheet" media="print" href="{$basePath}/css/print.css">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	{block mainHead|indent|trim}{/block}
    </head>

    <body>
	<div id="wrapper" data-type="{if $admin}admin{else}front{/if}">

	    <!-- Header -->
	    <header class="navbar navbar-inverse navbar-fixed-top">
		<div n:class="$user->isLoggedIn() ? container-fluid : container">
		    <!-- Navigation - Header -->
		    <nav class="navbar-header">
			<button id="dropdownMenu" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			    <span class="sr-only">Toggle navigation</span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			</button>
			<a n:if="!$admin" n:class="navbar-brand, $presenter->isLinkCurrent(':Front:Default:default') ? scroller" data-section="body" n:href="$homepage" title="MBTest - Měření kvality mobilních datových sítí">
			    <img class="navbar-logo" title="MBTest Logo" alt="MBTest Logo" src="{$basePath}/images/mbtest_logo_full.png">
			</a>
			<a n:if="$admin" class="navbar-brand" data-section="body" n:href="$homepage" title="MBTest - Měření kvality mobilních datových sítí">Administrace</a>
		    </nav>
		    <!-- Navigation - Links -->
		    <div class="navbar-links" role="navigation">
			{block navigationLinks|indent:2|trim}{/block}
		    </div>
		</div>
		<!-- Back to top button -->
		<div n:if="!$admin" class="scroll-top-wrapper scroller" data-section="body">
		    <a class="btn btn-lg" href="#" role="button">
			<span class="glyphicon glyphicon-chevron-up"></span>
		    </a>
		</div>
	    </header>

	    <!-- Main content -->
	    <main class="main">
		{block mainContent|indent:2|trim}{/block}
	    </main>

	    <!-- Footer -->
	    <footer class="footer" n:if="!$presenter->isLinkCurrent(':Front:Map:')">
		{block footer|indent:2|trim}{/block}
	    </footer>
	</div>

	<!-- Scripts -->
	<script src="{$basePath}/js/jquery.js"></script> {* jQuery v1.10.2 *}
	<script src="{$basePath}/js/jquery.gritter.min.js"></script> {* Gritter v1.7.4 *}
	<script src="{$basePath}/js/bootstrap.min.js"></script> {* Bootstrap v3.3.4 *}	
	<script src="{$basePath}/js/main.js"></script>
	<script src="{$basePath}/js/loaderOverlay.js"></script>
	{block mainScripts|indent|trim}{/block}	
	
	<!-- Loader overlay -->
	{include './components/other/loaderOverlay.latte'|indent|trim}

	<!-- Flash messages -->
	{include './components/other/flashMessages.latte'|indent|strip} 
    </body>
</html>
