.marker-cluster-small {
    //background-color: rgba(181, 226, 140, 0.6);
    background-color: rgba(174, 236, 255, 0.6);
}
.marker-cluster-small div {
    //background-color: rgba(110, 204, 57, 0.6);
    background-color: rgba(106, 204, 241, 0.6);
}

.marker-cluster-medium {
    //background-color: rgba(241, 211, 87, 0.6);
    background-color: rgba(73, 173, 255, 0.6);
}
.marker-cluster-medium div {
    //background-color: rgba(240, 194, 12, 0.6);
    background-color: rgba(22, 159, 204, 0.6); 
}

.marker-cluster-large {
    //background-color: rgba(253, 156, 115, 0.6);
    background-color: rgba(10, 107, 187, 0.6);
}
.marker-cluster-large div {
    //background-color: rgba(241, 128, 23, 0.6);
    background-color: rgba(12, 109, 189, 0.6);
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
    background-color: rgb(174, 236, 255);
}
.leaflet-oldie .marker-cluster-small div {
    background-color: rgb(106, 204, 241);
}

.leaflet-oldie .marker-cluster-medium {
    background-color: rgb(73, 173, 255);
}
.leaflet-oldie .marker-cluster-medium div {
    background-color: rgb(22, 159, 204); 
}

.leaflet-oldie .marker-cluster-large {
    background-color: rgb(10, 107, 187);
}
.leaflet-oldie .marker-cluster-large div {
    background-color: rgb(12, 109, 189);
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}
.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
    line-height: 30px;
}