<nav id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
	<li n:class="$presenter->isLinkCurrent(':Admin:Default:*') ? active"><a n:href=":Admin:Default:">Obecné nastavení</a></li>
	<li n:class="$presenter->isLinkCurrent(':Admin:Rights:*') ? active"><a n:href=":Admin:Rights:">Uživatelská práva</a></li>
	<li n:class="$presenter->isLinkCurrent(':Admin:Export:*') ? active"><a n:href=":Admin:Export:">Export</a></li>
	<li n:class="$presenter->isLinkCurrent(':Admin:Osm:*') ? active"><a n:href=":Admin:Osm:">OSM Data</a></li>
	<li n:class="$presenter->isLinkCurrent(':Admin:Test:*') ? active"><a n:href=":Admin:Test:">Testování</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right navbar-sign">
	<li class="dropdown">
	    <a href="#" class="dropdown-toggle btn-dropdown" data-toggle="dropdown" id="dropdown">
		<span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;{$user->getIdentity()->username}&nbsp;<b class="caret"></b>
	    </a>
	    <ul class="dropdown-menu">
		<li><a n:href=":Front:User:changePassword">Změna hesla</a></li>
		<li><a n:href=":Front:Dashboard:">Aplikace</a></li>
	    </ul>
	</li>
	<li>
	    <a n:href=":Front:Sign:out" class="btn">
		<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Odhlásit se
	    </a>
	</li>
    </ul>
</nav>